.chonky-chonkyRoot{
    background-color: #202020 !important;
    border-radius: 0 !important;
    border-width: 0 !important;
    font-family: 'Open Sans', sans-serif !important;
}
.chonky-fileDragPreview{
}

/* Icons & buttons */
.chonky-baseButton {
}
.chonky-iconWithText {
}
.chonky-iconOnlyButton {
}
.chonky-iconDropdown {
}
button.chonky-activeButton {
    color: #E50071 !important;
}

/* Navbar */
.chonky-navbarWrapper {
}
.chonky-navbarContainer .chonky-iconOnlyButton{
    color: #E50071 !important;
}
.chonky-upDirectoryButton {
}
.chonky-navbarBreadcrumbs {
    background-color:  #EEEEEE;
    border-radius: 2px;
}
.chonky-separator {
}

/* Toolbar */
.chonky-toolbarWrapper{
    background-color: white !important;
    padding: 10px !important;
}
.chonky-toolbarContainer{
}
.chonky-toolbarLeft{
}
.chonky-toolbarRight{
}
.chonky-toolbarLeftFiller {
}

/* Info */
.chonky-infoContainer {
}
.chonky-infoText {
}
.chonky-extraInfoSpan {
}
.chonky-selectionSizeText {
    color: #E50071 !important;
}

/* Search field */
.chonky-searchFieldContainer {
}
.chonky-searchIcon {
}
.chonky-searchFieldInput {
}
.chonky-searchFieldInputInner {
}

/* File */
.chonky-fileThumbnail {
}
.chonky-fileEntryClickableWrapper {
}
.chonky-fileListWrapper {
    background-color: white !important;
    padding: 10px !important;
}

/* Context menu */

.chonky-contextMenuList {
}
.chonky-browserMenuTooltip {
}